*
*::before
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body {
    background-color: white;
    margin: 0;
    font-family: 'commissioner';
    line-height: 1.5;
}

nav {
    display: flex;
    min-height: 5rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

}

strong {
    color: #F94F4F;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
} 

h3 {
    font-size: .9375rem;
}

p {
    font-size: .9375rem;
}

img {
    width: 100%;
    display: block;
}

ul {
    margin: 0;
    padding: 0;
}

.button {
    display: inline-block;
    width: fit-content;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 1.25rem 0;
}

.nav-menu {
    text-align: center;
    background-color: #191921;
    color: #fff;
    position: absolute;
    width: 70%;
    display: block;
    top: 5rem;
    z-index: 1;
    margin-left: 5rem;

}


.nav-menu li {
    padding: 1.25rem 0 1.25rem 0;
    list-style: none;

}

.nav-btn {
    width: 177px;
    height: 72px;
    background-color: #F94F4F;
    color: #fff;
    font-family: 'commissioner';
    font-weight: 800;
    font-size: 18px;
    border: none;
}

.hero-image-container {
    width: max-content;
}


.hero-contianer {
    display: flex;
    flex-direction: column;
    margin: 0 1.25rem 6rem;

}

.hero-section img:nth-child(2n) {
    display: none;
}

.hero-section img:nth-child(3n) {
    display: none;
}

.hero-section__title {
    margin: 3.5rem 0 0 0;
}

.hero-section p {
    margin: .9375rem 0;
    line-height: 1.5;
    font-size: 15px;
}

.hero-button {
    display: inline-block;
    width: 177px;
    height: 72px;
    background-color: #F94F4F;
    color: #fff;
    font-family: 'commissioner';
    font-weight: 800;
    font-size: 18px;
    border: none;
    
}

/* DESIGN SECTION */

.design-section img:nth-child(2n){
    display: none;
}

.design-section img:nth-child(3n) {
    display: none;
}

section div img {
    display: inline-block;
    width: 3.9375rem;
    height: 1.8125rem;
    position: absolute;
    left: 1.5rem;
    bottom: 62%;
}

section.design-section {
    background-color: #191921;
    position: relative;
}

.design-section__title {
    margin: 4.5rem 0 1.5rem 0;
}

section.design-section .container p {
    margin: 0 0 2.5rem 0;
    height: auto;
    text-align: left;
}

section.design-section .container button {
    margin: 0 0 4.5rem 0;
}

section.design-section .container {
    color: white;
    line-height: 1.5;
}

#next-btn {
    display: inline-block;
}

.underlined-btn {
    font-family: 'commissioner';
    font-weight: 800;
    color: #F94F4F;
    background-color: #191921;
    border-style: none;
    padding-bottom: 11px;
    border-bottom: 2px solid #F94F4F;

}



/* APPROACH SECTION */ 

section.approach-section {
    background-color: #F94F4F;
    color: white;
    display: flex;
    flex-direction: column;
    list-style: none;
    position: relative;
    padding: 6rem 0 6rem 0;
}

section.approach-section h2 {
    padding: 0 0 3.0625rem;
}

.spacing {
    padding: 0 0 2.5rem 0;
}

section.approach-section .container li {
font-size: 5rem;
font-weight: 800;
position: absolute;


}

.li-one {
    top: 296px;
    left: 23.5px ;
    opacity: .25;
}

.li-two {
    top:486px;
    left: 23.5px;
    opacity: .25;
}

.li-three {
    top: 676px;
    left: 23.5px;
    opacity: .25;
}

/* PROJECT SECTION */

.hide {
    display: none;
}

.project-section__one {
    position: relative;
    color: #fff;
    background-color: #191921;
}

.project-section__subtitle {
    position: absolute;
    right: 30px;
    top: 46%;
}

.project-section__one p {
    position: absolute;
    right: 30px;
    top: 49%;
}

.project-section__one img:nth-child(2n) {
    display: none;
}

.project-section__one .prev:nth-child(2n){
    display: inline-block;
}

section.project-section__one img:nth-child(3) {
    display: none;
}

.project-section__one .prev,
.project-section__one .next {
    position: static;
    display: inline-block;
    width: fit-content;
    height: auto;
    padding: 1.25rem .5rem 0 0;
}

.project-section__one h2 {
    padding: 4rem 1.5rem;
    margin: 0%;
}

.footer-btn {
    width: 177px;
    height: 72px;
    background-color: #F94F4F;
    color: #fff;
    font-family: 'commissioner';
    font-weight: 800;
    font-size: 18px;
    border: none;
}

.contact {
    margin: 6.25rem 1.5rem 6.25rem 1.5rem;
} 

/* -------------------- TABLET LAYOUT ------------------ */


@media only screen and (min-width: 750px) {

    /* HERO SECTION */

    nav {
    padding: 0;
    }

    .hide-burger {
        display: none;
    }

    .logo-container {
        margin-left:2.43rem ;
    }

    .container {
        display: flex;
        flex-direction: column;
        margin: 0 1.25rem 0;
    }
    
    .nav-menu {
        background-color: #F94F4F;
        justify-content: space-around;
        align-items: center;
        width: 60%;
        display: flex;
        position: static;
        height: 11.125rem;
        margin-left: 0;
    }

    .nav-btn {
        background-color: #191921;
    }
    
    /* HERO SECTION */

    .hero-section img:first-child {
        display: none;
    }

    .hero-section img:nth-child(2n) {
        display: block;
    }

    .hero-section img:nth-child(3n) {
        display: none;
    }

    .hero-section {
        display: flex;
        flex-direction: row-reverse;

    }

    .hero-contianer {
        overflow: visible;
        width: 28rem;
    }
    
    .hero-section__title {
        position: relative;
        width: 25rem;
        margin-left: 11rem;
        font-size: 3.5rem;
    }
    
    .hero-section p {
        position: relative;
        width: 25rem;
        margin-left: 11rem;
        padding: 1rem 0 1.5rem 0;
    }
    
    .hero-button {
        margin-left: 11rem;
        position: relative;
        display: inline-block;
        width: 177px;
        height: 72px;
        background-color: #F94F4F;
        color: #fff;
        font-family: 'commissioner';
        font-weight: 800;
        font-size: 18px;
        border: none;
    }
    /* DESIGN SECTION */

    .design-section {
        display: flex;
        max-height: 33.625rem;
    }

    .container {
        padding: 2.25rem 1.5rem 2.5rem 4rem;
    }

    .design-section__title {
        padding-right: 1rem;
    }
    .design-section img:nth-child(2n){
        display: block;
        min-height: 41.125rem;
        z-index: 1;
    }

    .design-section img:first-child {
        display: none;
    }

    .design-section img:nth-child(3n) {
        display: none;
    }

    /* APPROACH SECTION */

    section.approach-section {
        background-color: #fff;
        align-items: end;
        padding: 0 0 0 0;
    }

    section.approach-section .container {
        padding-top: 4.5rem;
        padding-left: 1.5rem;
        background-color: #F94F4F;
        max-width: 51.5%;
        margin: 0;
        z-index: 1;
    }

    .approach-section__title {
        position: absolute;
        color: black;
        left: 5%;
        max-width: 15rem;
        margin-top: 12rem;
    }

    .li-one {
        z-index: 2;
        left: 22.5rem;
        top: 6rem;
    }

    .li-two {
        z-index: 2;
        left: 22.5rem;
        top: 22.5rem;
    }
    
    .li-three {
        z-index: 2;
        left: 22.5rem;
        top: 39rem;
    }

    /* PROJECT SECTION */
    .project-section__one {
        display: flex;
        flex-direction: row-reverse;
        background-color: #fff;

     }
    
    .project-section__one img:nth-child(1) {
        display: none;
    }

    .project-section__one img:nth-child(2) {
        display: block;
        width: 57.75%;
        position: relative;
    }

    
    section.project-section__one .floating-card {
        visibility: visible;
        position: absolute;
        background-color: black;
        max-height: 22rem;
        width: 24.375rem;
        z-index: 1;
        left: 0;

    }

    .project-section__subtitle {
        top: 80%;
    }

    .project-section__one p {
        top: 84%;
    }

    .project-section__one .prev,
    .project-section__one .next {
        width: 3rem;
        max-width: 3rem;
        left: 0;


    }

    section.project-section__one img:nth-child(3) {
        display: none;
    }

    /* CONTACT SECTION */

    div.contact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 2rem 3rem;
        margin: 0;
    }

    .contact h2 {
        width: 20rem;
    }

    .footer-btn {
        width: 12.4rem;

    }
}

/* --------------------LAPTOP LAYOUT ------------------ */

@media only screen and (min-width: 1000px) and (max-width: 2000px) {

    .logo-container {
        margin-left: 10.3125rem;
    }

    .nav-menu {
        width: 50%;
    }

    .hero-contianer {
     margin: 3rem 0 0;
    }

    .hero-section img:nth-child(2n) {
        display: none;
    }

    .hero-section img:nth-child(3n) {
        display: block;
    }

    .hero-section__title {
        position: relative;
        width: 25rem;
        margin-left: 10.3125rem;
        font-size: 3.5rem;
    }
    
    .hero-section p {
        position: relative;
        width: 25rem;
        margin-left: 10.3125rem;
        padding: 1rem 0 1.5rem 0;
    }
    
    .hero-button {
        margin-left: 10.3125rem;
        position: relative;
        display: inline-block;
        width: 177px;
        height: 72px;

    }

    /* DESIGN SECTION */

    .design-section {
        min-height: 49rem;
    }

    .design-section img:nth-child(2n) {
        display: none;
    }

    .design-section img:nth-child(3n) {
        display: block;
        min-height: 61.5rem;
        z-index: 1;
    }

    .design-section .container {
        justify-content: center;
    }

    section.design-section .container h2 {
        font-size: 3.5rem;
        width: 22rem;
    }

    section.design-section .container p,
    section.design-section .container button {
        font-size: 1.125rem;
    }

   

    /* APPROACH SECTION */

    section.approach-section h2 {
        font-size: 3.5rem;
        max-width: 30rem;
        left: 14%;
        top: 20%;
        z-index: 2;
    }

    section.approach-section .container {
        max-width: 60%;
        min-height: 10rem;
        box-sizing: border-box;
        padding: 6.5rem 2rem 6rem 7rem
    }

    .container h3 {
        font-size: 1.25rem;
    }

    .container p {
        font-size: 1.125rem;
    }

    .li-one,
    .li-two,
    .li-three {
        left: 54%;
    }

    .li-one {
        top: 13%;
    }

    .li-two {
        top: 41%;
    }

    .li-three {
        top: 68.95%;
    }

    section.project-section__one img:nth-child(2) {
        display: none;
    }

    section.project-section__one img:nth-child(3) {
        display: block;
        max-width: 60%;
    }
    
    section.project-section__one .floating-card {
        width: 52%;
        min-height: 33rem;
    }

    .li-one {

    }

    div.contact {
        padding: 2rem 8rem;
    }

    .contact h2 {
        font-size: 3.5rem;
        width: 35rem;
    }

    .project-section__one h2 {
        font-size: 3.5rem;
        padding: 6.25rem 1.375rem 0 7.5rem;
    }

}

/* --------------------DESKTOP LAYOUT ------------------ */


@media only screen and (min-width: 1910px) {

}